/* The lake district CSS Done By:
    NAME:Jean Herve Donchi Chuangueu
    Group 4 */
*{
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    color: green;
    text-align: center;
    padding: 2% 0;
    font-weight: bold;
}
#content{
    width: 90%;
    margin: 0 auto;
    display: grid;
}
#description{
    width: 70%;
}
#first{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5%;
    margin: 4% 0;
}
#itinerary{
    width: 30%;
    background-color: rgba(190, 236, 190, 0.295);
    border: 3px solid green;
    margin: 2% 0 5% 0;
}
h2{
    text-align: center;
    margin: 5% 0;
}
ul{
    line-height: 1.8;
    margin: 10% 0;
}
li {
    font-style: italic;
    display: block;
}
p{
    line-height: 1.6;
}
#paragraph{
    width: 55%;
}
#second{
    font-size: 1em;
}
#nav ul {
    font-size: 1.05em;
}

@media only screen and (min-width:1em) and (max-width:35em) {
    #section{
        height: 3vh;
    } 
    #content{
        grid-template-columns: auto;
    }
    p{
        font-size: 0.8em;
    }
    #description{
        width: 100%;
    }
    #first{
        grid-template-columns: auto;
    }
    #itinerary{
        margin: 10% 0 10% 0;
        width: 100%;
        font-size: 0.9em;
    }
    #paragraph{
        width: 95%;
    }
}

@media only screen and (min-width:35.001em) and (max-width:56.4376em) {
    #section{
        height: 5vh;
    }   
    #content{
        grid-template-columns: auto;
    }
    p{
        font-size: 1em;
    }
    #description{
        width: 100%;
    }
    #first{
        grid-template-columns: auto;
    }
    #itinerary{
        margin: 10% auto 10% auto;
        width: 60%;
        font-size: 1em;
    }
    #paragraph{
        width: 95%;
    }
}

@media only screen and (min-width:56.4376em) and (max-width:86.4376em) {
    #content{
        grid-template-columns: auto;
    }
    p{
        font-size: 1.1em;
    }
    #description{
        width: 100%;
    }
    #itinerary{
        margin: 10% auto 10% auto;
        width: 60%;
        font-size: 1.1em;
    }
    #paragraph{
        width: 62%;
    }
}