
/* The Hebrides CSS done by 
Name: Osahon Iyamu */


* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

body {
    position: relative;
    margin: 0;
}

/* Main section starts here */
main{
    width: 80%;
    margin: 0 auto;
}

main .container{
    margin-top: 2em;
    width: 100%;
    height: 80vh;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.textbox{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1em;
    padding: 1em;
    margin: 2em 0;
}

h2{
    margin-top: 3em;
    color: #3dc9f5;
    text-align: center;
}

main .imgpage{
    background-image: url(TravelTimeImages/TravelTimeImages/Hebrides.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 80vh;
    width: 100%;
}

.container2{
    margin-top: 2em;
    height: 15vh;
    width: 100%;
    text-align: center;
    padding: 0em 7em;
    
}

.itenrary{
    background: #3dcaf55b;
    border: #3dc9f5 1px solid;
    margin: 5% auto;
    width: 70%;
}

ol{
    line-height: 1.8;
    margin: 2% 0;
}

li {
    display: block;
}

span{
    font-weight: bold;
}





/* main section ends here */



@media only screen and (min-width: 1em) and (max-width: 35em) 
{
   h2{
    margin-top: 6em;
   } 

   main .imgpage{
    margin-top: 15em;
    
   }

   main .container{
    height: 34vh;
    display: block;
    grid-template-rows: 1fr 1fr;
   }


   .itenrary{
    width: 100%;
    margin-top: 28em;
   }

   .container2{
    padding: 0;
    margin-top: 6em;

   }
}

@media only screen and (min-width: 35.001em) and (max-width: 56.4376em) {
    h2{
        margin-top: 6em;
    }

    main .imgpage{
        margin-top: 4em;
    }

    main .container{
        height: 46vh;
    }
    .itenrary{
        width: 50%;
        
    }

    ol{
        margin: 0 auto;
    }

    .container2{
        margin-top: 9em;
    }
    
}

@media only screen and (min-width: 56.4376em) and (max-width:67.4375em){
    main .container{
        height: 46vh;
    }

    main .imgpage{
        margin-top: 6em;
    }

    .itenrary{
        width: 50%;
    }

    .container2{
        margin-top: 12em;
    }
    
}



@media only screen and (min-width: 67.438em ) and (max-width:80em ) {

    main .container{
        height: 52vh;
    }

    .textbox{
        margin: 0;
    }

    .itenrary{
        width: 50%;
    }

    h2{
        margin-right: 11em;
    }
    .container2{
        margin-top: 8em;
    }
}


/* Mobile view */