/* css done by Jean Herve Donchi Chaungueu*/

:root {
    --main-background: #3dc9f5;
    --ad-background: #f5c23d;
    --white: #fff;
    --main-font: #1e1e1e;
    --sub-font: #5e5e5e;
    --footer-background: #012530;
    --hebrides-background: #f8f8f8;
}

* {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

body {
    position: relative;
    margin: 0;
}

/* Nav bar */
nav {
    position: fixed;
    z-index: 2;
    top: 0;
    background-color: var(--main-background);
    width: 100%;
    height: 4em;
    display: grid;
}

#grid-nav-items{
    width: 70%;
    margin-left: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    text-decoration: none;
    font-size: 0.9em;
    font-weight: bold;
    line-height: 4;
    color: #fffffff5;

    &:hover {
        color: var(--footer-background);
    }
}
#logo{
    height: fit-content;
    font-weight: bolder;
    font-size: 1em;
    color: var(--white);
}

/* Nav bar ends*/

/* Main content */
main {
    margin-top: 4em;
}

#main-image {
    background-image: url(TravelTimeImages/TravelTimeImages/main.jpg);
    width: 100%;
    height: 35em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h4 {
    background-color: var(--ad-background);
    padding: 0.4em 0;
    text-align: center;
    color: var(--white);
}
#main-content {
    text-align: center;
    width: 100%;
    height: fit-content;
    color: var(--white);
    margin: 5% 0;
    height: 80%;
}

#main-content h1 {
    font-size: 2.8em
}

#main-content p {
    font-size: 1em;
    width: 45%;
    margin: 5% auto;
    line-height: 2em;
}

#main-content button {
    background-color: var(--main-background);
    border: none;
    padding: 1.5%;
    border-radius: 0.2em;
    font-size: 1.2em;
    color: var(--white)
}

/* Main content ends here */

/* All you need to know section*/
#middle {
    background-color: var(--white);
    text-align: center;
}

#tour {
    margin: 4.5em auto;
}

#tour h1 {
    font-size: 3em;
    color: var(--main-font);
}

#tour-text {
    color: var(--sub-font);
    width: 50%;
    line-height: 2em;
    font-size: 1em;
    margin: 0 auto;
}
/* Grid updated by Osahon */
#images {
    margin: 5% auto; 
    display: grid;
    grid-template-columns: auto auto auto;
}

#images div {
    width: fit-content;
}

#images div p {
    width: 70%;
    line-height: 1.5em;
    margin: 0 auto;
    font-size: 0.9em;
    color: var(--sub-font);
}

/* All you need to know section ends here*/

/*The lovely Hebrides section*/
#buttom {
    background-color: var(--hebrides-background);
    padding: 0.7em 0;
}

#buttom-content {
    margin: 5%;
}

#buttom-content h1 {
    font-size: 3em;
    text-align: center;
    color: var(--main-font);
    margin-bottom: 2em;
}

/* grid updated by Osahon Iyamu */
#buttom-container {
    margin-top: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

#buttom-text {
    width: 100%;
    font-size: 0.95em;
    line-height: 1.5em;
    color: var(--sub-font);
}

#hebrides {
    width: 100%;
    text-align: center;
}

#hebrides img {
    width: 50%;
}

#hebrides p {
    width: 50%;
    margin: 0 auto;
    font-size: 0.9em;
    line-height: 1.5em;
    color: var(--sub-font);
}

/*end of section*/

/*footer*/
footer {
    padding: 4% 10%;
    color: white;
    background-color: var(--footer-background);
}

#foot {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#foot div {
    width: 40%;
    margin: 0 3%;
}

#foot div h2 {
    margin-bottom: 10%;
}

#contact h3 {
    margin: 5% 0;
}

address {
    line-height: 1.5em;
    font-size: .95em;
}

a {
    text-decoration: underline;
    line-height: 1.5em;
    font-size: .95em;
    color: var(--white);

    &:hover {
        color: var(--main-background);
    }
}

#socials p {
    line-height: 1.5em;
    font-size: .95em;
}

#copyright {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 2% 0;
    gap: 1em;
}

#copyright p {
    text-align: center;
}

#copyright img {
    width: 20%;
}

@media only screen and (min-width:1em) and (max-width:35em) {

    /*Phone*/
    #nav ul {
        gap: 0.1em;
    }

    nav {
        font-size: 0.8em;
        height: fit-content;
    }

    #grid-nav-items{
        margin-left: 5%;
        display: grid;
        grid-template-columns: auto;
    }

    li a {
        line-height:2;
    }

    #main-image h4 {
        margin-top: 9em;
        line-height: 1.5em;
        font-size: 0.8em;
    }

    #main-content {
        margin-top: 20%;

        &>h1 {
            font-size: 1.5em;
        }

        &>p {
            font-size: 0.8em;
        }

        &>a {
            padding: 2%;
        }
    }

    #main-content button {
        padding: 5%;
    }

    h1 {
        font-size: 1.5em;
    }

    #hebrides h1,
    #middle h1,
    #buttom-content h1 {
        font-size: 1.5em;
    }

    p {
        font-size: 0.7em;
    }

    #hebrides p,
    #middle p {
        font-size: 0.7em;
    }

    #buttom-content {
        padding: 1;
    }

    #buttom-container {
        margin-top: 2%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #buttom-text {
        width: fit-content;
    }

    #hebrides {
        width: fit-content;

        &>img {
            margin: 2em 0;
            width: 80%;
        }

        &>p {
            width: fit-content;
        }
    }

    #tour-text {
        width: 90%;
    }

    #images {
        flex-wrap: wrap;
    }

    #castle,
    #lake,
    #highlands {
        &>img {
            width: 80%;
        }
    }

    #foot {
        grid-template-columns: auto;
    }

    #foot div {
        margin: 5% 0;
        font-size: 0.8em;
    }

    #copyright {
        margin: 2% 0;
        &>img {
            width: 50%;
        }
    }
}

@media only screen and (min-width:35.001em) and (max-width:56.4376em) {

    /*For Tablets*/
    #nav ul {
        gap: 0.2em;
    }

    nav {
        font-size: 1em;
        height: fit-content;
    }

    #grid-nav-items{
        margin-left: 5%;
        display: grid;
        grid-template-columns: auto;
    }

    li a {
        line-height: 1.7;
    }

    #main-image h4 {
        margin-top: 9.5em;
        line-height: 1.5em;
        font-size: 0.8em;
    }

    #main-content {
        margin-top: 20%;

        &>h1 {
            font-size: 2em;
        }

        &>p {
            font-size: 0.8em;
        }
    }

    #main-content button {
        padding: 2%;
    }

    h1 {
        font-size: 1.5em;
    }

    #hebrides h1,
    #middle h1,
    #buttom-content h1 {
        font-size: 1.5em;
    }

    p {
        font-size: 0.9em;
    }

    #hebrides p,
    #middle p {
        font-size: 0.9em;
    }

    #buttom-content {
        padding: 1;
    }

    #buttom-container {
        margin-top: 2%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #buttom-text {
        width: fit-content;
    }

    #hebrides {
        width: fit-content;

        &>img {
            margin: 2em 0;
            width: 80%;
        }

        &>p {
            width: fit-content;
        }
    }

    #tour-text {
        width: 90%;
    }

    #images {
        flex-wrap: wrap;
    }

    #castle,
    #lake,
    #highlands {
        &>img {
            width: 80%;
        }
    }

    #foot {
        grid-template-columns: auto;
    }

    #foot div {
        margin: 5% 0;
        font-size: 1em;
    }

    #copyright {
        margin: 2% 0;
        &>img {
            width: 50%;
        }
    }
}

@media only screen and (min-width:56.4376em) and (max-width:67.4375em) {
    #images {
        flex-direction: column;
    }
}